.header {
    background-color : rgba(13, 116, 175, 0.349);
}

.pageHeader {
    padding-left:20px;padding-right:10px;
}

.head_username {
    padding:20px 10px;
    vertical-align: middle;
}
.header button {
    margin-top: 20px;
    
}

.btn-default {
    color: black !important;
    background-color: rgba(13, 116, 175, 0.349) !important;
    border-style: none !important;
}


#sidebar-wrapper {
    z-index : 1;
    position: absolute;
    width:0;
    height:100%;
    overflow-y:hidden;
    background-color: turquoise;
    
    opacity:0.9;
}

#page-content {
    width:100%;
    position: absolute;
    padding:15px;
    
}

#wrapper.showSideMenu #sidebar-wrapper {
    width:250px;
}

#wrapper.showSideMenu #page-content {
    padding-left:250px;
}

.sidebar-nav{
    padding: 0;
    list-style-type: none;
}

.sidebar-nav li{
    text-indent : 20px;
    line-height:40px;
}

.sidebar-nav li a {
    display:block;
    text-decoration: none;
    color:white;
}

.sidebar-nav li a:hover {
    background: honeydew;
    color: black;
}